<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="redditUsername" value="Peddeboi"/>
        <add key="redditPassword" value="All3Ball3691337"/>
        <add key="clientId" value="eYKIBn-N1i4aPw"/>
        <add key="clientSecret" value="xBLkTPhTz6P5tX7WgOYA3FVLkew"/>
    </appSettings>
</configuration>